---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import WorkIcon from "../icons/WorkIcon.astro";
---

<Layout
	title="Portfolio of Samuele Spinetti - Junior Full Stack Web Developer"
	description="Full Stack Web Developer, Passionate Problem Solver and Team Collaborator"
>
	<main class="px-4">
		<Container id="top" class="py-44 pb-20">
			<img
				class="rounded-full w-40 h-40 mb-4"
				src="/profile-photo.jpg"
				alt="my portfolio photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, I'm Samuele <a
					href="https://www.linkedin.com/in/samuele-spinetti"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Open to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
				<span class="text-yellow-200/90">Full Stack Web Developer.</span
				>
				<span class="text-red-200/90"
					>Italian based in Barcelona, Spain 🇮🇹🇪🇸​
				</span>
				<span class="opacity-85">
					React | Node.js | MongoDB || MERN || Passionate Problem
					Solver and Team Collaborator
				</span>
			</h2>

			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="https://www.linkedin.com/in/samuele-spinetti">
					<LinkedInIcon class="w-6 h-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Samu2196">
					<GitHubIcon class="w-6 h-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:samuelespinetti@hotmail.com">
					<MailIcon class="w-6 h-6" />
					samuelespinetti@hotmail.com
				</SocialPill>
			</nav>
		</Container>

		<Container id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<WorkIcon class="size-8" />
				Work Experience
			</h2>
			<Experience />
		</Container>
	</main>
</Layout>
