<div class="flex flex-row items-center justify-center gap-10">
    <img
        class="size-52 rounded-full"
        src="/profile-photo.jpg"
        alt="profile photo of samuele spinetti"
    />
    <p class="text-xl text-pretty text-white/80">
        <span class="font-bold">Hello 👋, I'm Samuele!</span>
        <br />
        I'm 28 years old, originally from Italy, and have been living in Barcelona
        for several years. I come from a background in the restaurant business and
        language studies, which has shaped my approach to communication and collaboration.
        <br /><br />
        Driven by curiosity, I decided to dive into web development and recently
        graduated as a <span class="text-yellow-200/80 font-semibold"
            >Full-Stack Developer</span
        > from ISDI Coders in Barcelona.
        <br /><br />
        Currently, I'm working on different projects and exploring innovative ways
        to create user-centric solutions. With my unique blend of technical skills
        and attention to detail, I'm ready to jump into the tech world and make a
        meaningful impact!
    </p>
</div>
